
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*HEADER*/

body {
	font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; 
  margin-top:40px;
}


.wrapper {
  max-width:1280px;
  margin: 0 auto 0 auto;
  width: 100%;
}

header {
.wrapper {
	padding-bottom: 40px;
	border-bottom: 1px solid #FFF;

  img {
  margin-left: 10px;

 }
  @media screen and (max-width: 768px) {
    border: none;
  }
}
}

header .wrapper nav, header .wrapper nav li {
		display: inline-block;
		vertical-align: top;
}

header .wrapper nav li {
	line-height: 42px;
	margin-left: 50px;
  @media (max-width: 768px) {
     margin-left: 0;
   }
}

header .wrapper nav li a {
color: #FFF;
text-decoration: none;
width: 250px;
    
}

.toggle-nav {
    display:none;
}

aside {
	float: right;
	margin-right: 85px;

 ul li {
	display: inline-block;
	line-height: 42px;
  margin-right: 15px;
   }

 a {
  color: white;
  text-decoration: none;

   @media screen and (max-width: 768px) {
              font-weight: bold;

   }
   }

}


@media screen and (max-width: 768px) {

    header {
      margin-bottom: 80px;
    }
    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        max-width: 768px;
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        border-radius:3px;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;


    }
    
    .menu a {
        display:block;
        width:60px;
    }
    
    header .wrapper nav li a {
      font-weight: bold;


    }

    .toggle-nav {
        padding:15px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
        text-decoration: none;
        margin-left: 10px;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color: rgba(255,255,255,1);
    }

    header img {
      display: none;
    }

    aside {
      float: left;
      margin:12px 0px 0px 20px;
    }


}


/*SECTION HERO*/

html {
	height: 100%;
}

body {
	height: 100%;
}


.hero-image {
 background-size:     cover;                 
 background-repeat:   no-repeat;
 background-position: center center;
 width: 100%;
 height: 100%;
 text-align: center;

  .single-item {
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;

       .btn {
       background-color: #cacaca;
       color: #FFF;
       font-size: 14px;
       text-transform: uppercase;
       text-align: center;
       line-height: 60px;
       padding: 0 45px;
       display: inline-block;
       text-decoration: none;
        margin-top: 70px;

       @keyframes bounce {

        0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }

        40% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
         }

        80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        }
     }

      &:hover {
      animation: bounce 1s;
      background-color: #000000;
      }
  }


        div {
            width: 100%;
            height: 100%;

            .vertical-center {
            top: 50%;
            position: relative;
            display: block;
            z-index: 1;
            transform: translateY(-50%);

                h1 {
                    color: white;
                    font-size: 72px;
                    padding-top: 40px;
                    text-transform: uppercase;
                      @media screen and (max-width: 900px) {
                      font-size: 50px;
                      }
                      @media screen and (max-width: 600px) {
                      font-size: 50px;
                      }
                      @media screen and (max-width: 420px) {
                      font-size: 40px;
                      }
                      @media screen and (max-width: 330px) {
                      font-size: 30px;
                      }
                }

                h2 {
                    color: white;
                    font-size: 24px;
                    margin: 35px 0;
                    margin-top: 30px;
                    font-style: italic;

                    @media screen and (max-width: 900px) {
                      font-size: 20px;
                      }
                    @media screen and (max-width: 450px) {
                      font-size: 15px;
                      }
                    @media screen and (max-width: 330px) {
                      font-size: 12px;
                      }
                      
                      
                }
            }


            figure {
                position: absolute;
                top: 0;
                width: 1480px;
                height: 100%;
                background-size: cover;
                background-repeat:   no-repeat;
                background-position: center center;
                text-align: center;


                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;

                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }


         .slick-prev {
          position: absolute;
          top: 50%;
          width: 40px;
          height: 120px;
          background-color: #cacaca;
          left: 20px;
          z-index: 1;
           &:hover { 
            background-color: #000000; 
            }
        }

        .slick-next {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 120px;
        background-color: #cacaca;
        right: 20px;
        z-index: 1;

          &:hover { 
          background-color: #000000; 
          }
        }

        
        
    
   
   
    }
}


/*GRID*/

.grid {
	padding: 40px 0 40px 0; 
	overflow: hidden;
	text-align: center;

  .wrapper {
   max-width: 1200px;
   margin: 0 auto;


     div {
     width: 300px;
     height: 300px;
     background-color: rgb(15, 66, 196);
     float: left;
     text-align: center;
     background-size: cover;
     background-position: center center;
     position: relative;

  

      &:first-child{
      height: 600px;
      background-color: rgb(30, 36, 232);
      }

      &:nth-child(7n){
      height: 600px;
      background-color: rgb(30, 36, 232);
      float: right;
      }

      hgroup {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      }

      h1 {
      text-align: center;
      font-size: 24px;
      color: rgb(255, 255, 255);
      margin: 10px 0;
      }

      h2 {
      color: rgb(255, 255, 255);
      font-family: Georgia;
      font-style: italic;
      font-size: 18px;
      margin-top: 10px;
      }

      h3 {
      font-size: 15px;
      margin-top: 20px;
      color: rgb(255,255,255);
      font-weight: bold;
      }
     
    }
  }

  .overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  background-size: 100% 100%;
  transition: all 0.2s;
  opacity: .50;
  display: block;
  position: absolute;
  left: 0;
  top:0;
  }
 
}


.overlay:hover:before, .overlay:hover hgroup {
opacity: 0;
}




/*SECTION NEWSLETTER*/

.newsletter {
 background: none;
 padding: 40px;

  .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  }

  h1 {
  font-size: 45px;
  color: black;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  }

  h2 {
  color: gray;
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  }

  form {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px;
  }

  input[type="text"] {
  font-size: 15px;
  text-align: left;
  color: gray;
  padding: 10px 10px 10px 10px;
   @media (max-width: 400px) {
      width: 80px;
   }

  }

  input[type="button"] {
  background-color: #000000;
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 10px 15px 10px 15px;
  }
}


/*SLIDER*/

.slider {
padding: 20px 0 20px 0;
text-align: center;
position: relative;



  /*h2 for sliders on another pages*/
   h2 {
   margin-bottom: 20px;
   font-family: Georgia;
   font-size: 22px;
   font-style: italic;
   color: #000;
   letter-spacing: 1px;
   font-weight: 100;
   max-width: 1200px;
   padding-top: 50px;
   margin: 0 auto 45px;
   border-top: thin solid rgba(48, 48, 48, 0.5); 
   }

  .wrapper {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;

   @media screen and (max-width: 1078px) {
  max-width: 700px;
  }

  .responsive {
    img {
       @media screen and (max-width: 900px) {
       margin: 0 auto;
  }
    }
  }
  .slick-slider {
    height: 170px;
  }
 
   .slick-prev {
     position: absolute;
     right: 0;
     width: 40px;
     height: 170px;
     margin-left: -15px;
     background-color: #cacaca;
     z-index: 1;

       &:hover { 
       background-color: #000000; 
       }

    } 

     .slick-next {
     position: absolute;
     right: 0;
     width: 40px;
     height: 170px;
     margin-right: -40px;
     background-color: #cacaca;
     z-index: 1;
    
                
          &:hover { 
          background-color: #000000; 
          }
     } 

     .slick-prev, .slick-next {
     @media screen and (max-width: 1078px) {
     display: none !important;
      }
      }  

      
      
   }
}




/*FOOTER*/

footer {
  overflow: hidden;
  margin: 45px auto;
  max-width: 1280px;


  .col {
  height: 195px;
  float: left;
  width: 23%; 
  padding: 14px 0 14px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);

    &:first-child {
    border-left: none;
    }

    span {
    text-transform: uppercase;
    color: #606060;
    font-weight: bold;
    }

    li {
    margin-top: 14px;
    }

    li a, li p {
    color: #606060;
    font-size: 14px;
    text-decoration: none;
    }

    li a:hover {
    text-decoration: underline;
    }

    .social {
      margin-top: 10px;

      li {
      display: inline-block;
      }

      a {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url("../img/Facebook-128.png");
      background-size: cover;
      overflow: hidden;
      text-indent: -9999px;
      border: 1px solid #fff;
      margin-right: 5px;
      }

      .twitter {
      background-image: url("../img/Twitter-128.png");
      } 
      
      .instagram {
      background-image: url("../img/Instagram-128.png");
      }
    }
  }
}



@media (max-width: 768px) {
    header {
    	height: auto;

    .wrapper {	
    	max-width: 640px;
   
 
     nav ul {
    	width: 100%;
    	height: auto;
    	display: inline-block;
     }

     nav li {
    	width: 22px;
    	float: left;
    	position: relative;	
     }

    aside {
    	height: auto;
    	float: right;

    	ul {
    		margin-left: 50px;
    	}
    }
    }
    }


    section.hero {

    	.v-center {
    		h1 {
    			font-size: 25px;
    		}
    		h2 {
    			font-size: 20px;
          padding-bottom: 40px;
    		}
    	}
    }

    .grid {
           

    	.wrapper { 
    		text-align: center;
    		display: inline-block;
    		

    	    article:first-child{
	        height: 300px;
            }

            article:nth-child(7n){
	        height: 300px;
            }	
    	}
    }

    .newsletter {
    	h1 {font-size: 25px;
        }
        
    	h2 {
    		font-size: 20px;	
    	}

     
    }

    .slider {
    	.wrapper {
    		text-align: center;
    		max-width: 500px;

    	    .btn-left, .btn-right {
    		display: none;
    	    }
    	}
    }
}


@media (max-width: 1050px) {
footer {
    max-width: 100%;
    width:100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;  
    margin-top: 15px;

    .col {
    width: calc(50% - 21px);
    }
  }
}



@media (max-width: 768px) {
footer {
    max-width: 100%;
    width:100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;  

    .col {
    width: 100%;
    padding: 14px 0 14px 0px;
    }
  }
}


 @media (max-width: 1280px) {
 	.grid {
 		.wrapper {
 			max-width: 900px;
 		}
 	}
 }


 @media (max-width: 900px) {
 	.grid {
 		.wrapper {
 			max-width: 600px;
 		}
 	}
    .slider {
    	.wrapper {
    		max-width: 500px;

    	    .btn-left, .btn-right {
    		display: none;
    	    }
    	}
    }

 }


  @media (max-width: 600px) {
 	.grid {
 		.wrapper {
 			max-width: 300px;
 		}
 	}
  }




/*CATEGORY PAGE*/

.inner {
    position: relative;
    color:#000000;

    a {
    color:#000000;
    }

    .wrapper {
    border-color:#000000;
    .menu {
      a {
         color:#000000;
      }
    }
    }
   
}


.gallery {

  .wrapper {
    text-align: center;
   h1 {
    color: #303030;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 15px;
    margin-top: 30px;
    }
    a {
   color: blue;
   font-family: Georgia;
   font-style: italic;
   font-weight: bold;
   font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .wrapper {
      h1 {
        font-size: 35px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}


.block {
max-width:1240px;
margin:0 auto;
overflow:hidden;  
text-align: center;
padding: 30px 0 30px 0;

  ul {
  margin-top: 30px;
  font-size: 0px;
  }

  ul li {
  width: 210px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-bottom:30px;
  margin: 0 50px 30px 50px;

    img {
    width: 210px;
    height: 260px;
    }

    p {
    margin-bottom: 20px;
    margin-top:20px;
    }
  }
}


/*BREADCRUMB*/

.breadcrumb {
  padding:30px 0;


  ul {

     li {
     margin-left: 10px;
     display: inline-block;

       a {
       font-size: 12px;
       color: #303030;
       text-decoration: none;
       text-transform: uppercase;
         &:hover{
         text-decoration: underline;
         }
      }

      &:after{
      content:'';
      margin-left:15px;
      margin-right:15px;
      position:relative;
      height:2px;
      display:inline-block;
      content: "/";
      }


      &:last-child:after{
      margin:0;
      content:'';
      margin-left:15px;
      margin-right:15px;
      position:relative;
      width:30px;
      height:2px;
      display:inline-block;
      }

    }
  }
}



@media (max-width: 768px) {
.breadcrumb {
  .wrapper {
    max-width: 640px;
  }
  ul li {
    margin-left: 20px;
  a {
    font-size: 10px;
  }
  }

}
}


/*ABOUT PAGE*/

/*VARIABLES*/

$font: ´Ubuntu´, sans-serif;
$font2: ´Georgia´;

$font-xl: 36px;
$font-l: 24px;
$text-size: 15px;

$usefulWidth: 1180px;

$text-color: #606060;
$title-color: #000;



/*DETAILS*/

.details {
  max-width:700px;
  width:100%;
  overflow:hidden;
  position:relative;
  margin:0 auto;
  img {
    max-width:700px;
    width:100%;
  }
  ul {
    position:absolute;
    right: 20px;
    bottom:20px;
    @media all and(max-width:480px){
        right: 10px;
        bottom:10px;
      }
    li {
      width: 70px;
      height: 80px;
      border:1px solid #CCC;
      margin-top: 10px;
       img {
        width: 70px;
        height: 80px;
       }
    }
  }
}

.product {
  max-width:960px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 44px;

   h1 {  
   color: #303030;
   font-size: 50px;
   text-transform: uppercase;
   font-weight: 100;
   letter-spacing: 4px;
    margin-bottom: 15px;
   }
   h2 {
   margin-bottom: 20px;
   font-family: Georgia;
   font-size: 18px;
   font-style: italic;
   color: rgba(96, 96, 96, 0.65);
   letter-spacing: 1px;
   font-weight: 700;
   }
   p {
   margin: 34px auto;
   width: 650px;
   line-height: 25px;
   font-size: 14px;
   color: #606060;
   font-family: Lato;
   font-style: initial;
   font-weight: initial;
   }
   h3 {
   text-transform: uppercase;
   color: #606060;
   font-size: 14px;
   font-weight: 700;
   margin-bottom: 10px;
   }
   span {
   font-size: 12px;
   font-style: italic;
   color: rgba(0, 0, 0, 0.45);
   margin: 10px 0 18px;
   display: block;
   }
   .size {
   text-align: center;
   margin-top: 15px;
     ul li {
     display: inline-block;
     position: relative;
     width: 32px;
     height: 32px;
     background-color: white;
     border: 1px solid rgba(96, 96, 96, 0.4);
     margin-right: 5px;
      a {
      position: relative;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      color: #606060;
      text-decoration: none;
      font-size: 12px;
      font-weight: 300;
      } 
     }
     .size-select {
         background-color: #000000;
         border: 1px solid black;
          a {
              color: white;
          }
        }
   }

}

@media (max-width: 768px) {
.product {
 max-width: 640px;
 h1 {
  font-size: 26px;
 }
 span {
  font-size: 12px;
 }
 h2 {
  font-size: 14px; 
 }
 p {
  font-size: 12px;
   width: 315px;
 }
}
}

.btntwo {
   background-color: #cacaca;
   color: #FFF;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
   line-height: 60px;
   padding: 0 45px;
   display: inline-block;
   text-decoration: none;
   margin-top: 70px;

   @keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

&:hover {
  animation: bounce 1s;
  background-color: #000000;
}
}
.btnthree {
  background-color: white;
  border: 1px solid black;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 40px;
  width: 100%;
  max-width: 1200px;
  font-size: 14px;
  padding-top: 25px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  transition: all .2s linear;
   &:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #000000;
  color: white;
}
}



@media (max-width: 1280px) {
.btnthree  {
  max-width: 900px;
}
}

@media (max-width: 900px) {
  .btnthree  {
      max-width: 600px;
    }
  }

@media (max-width: 600px) {
  .btnthree {
    max-width: 300px;
  }

}

/*CATEGORY PAGE*/

.inner {
    position: relative;
    color:#000000;


    a {
    color:#000000;
    }

    .wrapper {
    border-color:#000000;


    .menu {
      a {
         color:#000000;
      }
    }
    }
   
}


.gallery {

  .wrapper {
    text-align: center;
   h1 {
    color: #303030;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 15px;
    margin-top: 30px;
    }
    a {
   color: #000000;
   font-family: Georgia;
   font-style: italic;
   font-weight: bold;
   font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .wrapper {
      h1 {
        font-size: 35px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}


.block {
max-width:1240px;
margin:0 auto;
overflow:hidden;  
text-align: center;
padding: 30px 0 30px 0;

  ul {
  margin-top: 30px;
  font-size: 0px;
  }

  ul li {
  width: 210px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-bottom:30px;
  margin: 0 50px 30px 50px;

    img {
    width: 210px;
    height: 260px;
    }

    p {
    margin-bottom: 20px;
    margin-top:20px;
    }
  }
}


/*BREADCRUMB*/

.breadcrumb {
  padding:30px 0;


  ul {

     li {
     margin-left: 10px;
     display: inline-block;

       a {
       font-size: 12px;
       color: #303030;
       text-decoration: none;
       text-transform: uppercase;
         &:hover{
         text-decoration: underline;
         }
      }

      &:after{
      content:'';
      margin-left:15px;
      margin-right:15px;
      position:relative;
      height:2px;
      display:inline-block;
      content: "/";
      }


      &:last-child:after{
      margin:0;
      content:'';
      margin-left:15px;
      margin-right:15px;
      position:relative;
      width:30px;
      height:2px;
      display:inline-block;
      }

    }
  }
}



@media (max-width: 768px) {
.breadcrumb {
  .wrapper {
    max-width: 640px;
  }
  ul li {
    margin-left: 20px;
  a {
    font-size: 10px;
  }
  }

}
}

/*ABOUT PAGE*/

/*VARIABLES*/

$font: ´Ubuntu´, sans-serif;
$font2: ´Georgia´;

$font-xl: 36px;
$font-l: 24px;
$text-size: 15px;

$usefulWidth: 1180px;

$text-color: #606060;
$title-color: #000;



.about {
  padding: 20px;
  box-sizing: border-box;
     .wrapper {
      max-width: $usefulWidth;
      width: 100%;
      margin: 0 auto;
      font-size: 0;
      text-align: center;

      h1 {
        font-family: $font;
        font-size: $font-xl;
        color: $title-color;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 15px;
        }

      h2 {
        font-family: $font2;
        font-size: $font-l;
        color: $text-color;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        }

       article {
        max-width: 580px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 40px; 
        margin-bottom: 15px;

    
        figure {
            max-width: 400px;
            margin: 0 auto;

            img {
                width: 100%;


              @media screen and (max-width: 600px) and (min-width: 0px) {
              max-width: 280px;
              margin-right: 20px;  
              }

                
            }
            }   
        }

            @media screen and (max-width: 1180px) and (min-width: 0px) {
              text-align: center;
              margin: 0 auto;
            }

            h3 {
        font-family: $font;
        font-size: $font-l;
        color: $title-color;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;

          }

        
            p {
            font-family: $font;
        font-size: $text-size;
        color: $text-color;
        font-weight: 300;
        text-align: left;
        line-height: 20px;
          @media screen and (max-width: 600px) and (min-width: 0px) {
              font-size: 13px;
              text-align: center;

            }
          }   
      }
     
  }

  /*CONTACT PAGE*/


.contact_us {
 text-align: center;

   .wrapper {
   width: 600px;
   margin: 32px auto;
   overflow: hidden;
   border-radius: 5px;

      h1 {
        font-family: $font;
        font-size: $font-xl;
        color: $title-color;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 15px;
        }

      h2 {
        font-family: $font2;
        font-size: $font-l;
        color: $text-color;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 40px;
        }

      .message, .topic, .user, textarea  {
      display: block;
      padding: 0;
      margin-bottom: 30px;
      clear: both;
      overflow: hidden;
      }

      .name, .email {
      float: left;
      width: 278px;
      margin: 0;
      padding: 0 0 0 20px;
      height: 50px;
      border: 1px solid rgba(0,0,0,.1);
      }

     .email {
     width: 279px;
     border-left: 0;  
     }

     .choice {
     height: 50px;
     width: 578px;
     line-height: 50px;
     padding: 0 0 0 20px;
     border: 1px solid rgba(0,0,0,.1);
     }

     textarea {
     height: 200px;
     width: 578px;
     border: 1px solid rgba(0,0,0,.1);
     padding: 0 0 0 20px;
     line-height: 50px;
     }

     .btn {
     margin-top: 5px;
     margin-bottom: 20px;
     background-color: #cacaca;
     color: #FFF;
     font-size: 14px;
     text-transform: uppercase;
     text-align: center;
     line-height: 60px;
     padding: 0 45px;
     display: inline-block;
     text-decoration: none;

       @keyframes bounce {

        0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }

        40% {
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
         }

        80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        }
     }

      &:hover {
      animation: bounce 1s;
      background-color: #000000;
      }
     }
  }
  
  @media (max-width: 768px) {
    .wrapper {
    max-width: 300px;
      h1 {
      font-size: 30px;
      }
      h2 {
      font-size: 20px; 
      }
     .choice, .name, .email, textarea {
        width: 278px;
      }
    .name {
      margin-bottom: 30px;
    }
    .email {
     border: 1px solid rgba(0,0,0,.1);
    }
  }
}
}

